.App {
  text-align: left;
}

#BioText {
  text-align: left;
  font-family: 'Baloo Chettan 2', cursive;
  font-style: oblique;
  font-size: 1.2rem;
  line-height: 1.5;
}

/* .monospace {
  font-family: 'Source Code Pro', monospace;
} */
